<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarberShopSocket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BarberShopSocket.Properties.Settings>
            <setting name="BarberShopSocket_localhost_Service1" serializeAs="String">
                <value>http://localhost:65410/Service1.svc</value>
            </setting>
        </BarberShopSocket.Properties.Settings>
    </applicationSettings>
</configuration>